<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title >麻将社区</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <script src="js/bootstrap.min.js" type="application/javascript" ></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color: #499ef3">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">麻将社区</span>
            </button>
            <a class="navbar-brand" href="/">麻将社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="/publish">发布</a>
                </li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}">我<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=7e26b31604d5a9370055&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
                </li>
            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid" >
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 " >
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发现</h2>
            <hr>
            <div class="media" th:each="question:${questions}">
                <div class="media-left">
                    <!--
                    <a href="#">
                        <img class="media-object" th:src="${question.user.avatarUrl}" >
                    </a>
                    -->
                </div>
                <div class="media-body">
                    <h4 class="media-heading" style="color: #333333 ; font-size: 14px ; font-weight: bold" th:text="${question.title}"></h4>
                    <span style="font-size: 12px" th:text="${question.description}"></span><br>
                    <span style="font-size: 12px ; font-weight: normal ; color:#999 " ><span th:text="${question.commentCount}"></span>个回复 • <span th:text="${question.getViewCount()}"></span>次浏览 • <span th:text="${#dates.format(question.getGmtCreate() ,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                    <hr>
                </div>
            </div>
            </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 " >
            <h3>热门话题</h3>
            ·问题标题：请用精简的语言描述您发布的问题，不超过25个字<br>
            ·问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料；<br>

            服务器运行环境信息：<br>
            软件版本：<br>
            问题发生的上下文信息：<br>
            可以完整复现问题的代码（如何直接运行于 kibana Consale 的复现流程）；<br>
            补充完整的异常和错误信息；<br>
            注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；<br>
            ·选择标签：选择一个或多个合适的标签，不超过10个字；<br>
            ·关于积分：发起一个问题会消耗您20积分，每多一个回复你将获得5个积分的奖励，为了您的利益，在发起问题的时候希望能够更好地描述您的问题以及多使用站内搜索功能；<br>
        </div>
        </div>
    </div>
</body>
</html>